
.summary-container {
    margin-top: 1.6em;
    background-color: rgb(197, 81, 59);
    padding: 2rem;
    color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    column-gap: 1.2rem;
}


.budget-summary-title {
    margin-bottom: 1.2em;
    text-transform: uppercase;
    align-self: center;
}

.cal-gram-selector {
    /* background-color: green; */
    margin-bottom: 2rem;
}

.cal-gram-selector div {

    display: grid;
    max-width: fit-content;
    grid-template-columns: 1fr 1fr;
    /* display: flex;
    flex-direction: row;
    row-gap: 3em; */
}
.cal-gram-selector-label {
    display: inline-block;
    font-size: 2rem;
    color: #fef5e8 !important; 
    transform: translateY(10%);
    justify-self: center;
}


.summary-data-view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.summary-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summary-list-item {
    font-size: 1.6rem;
}

.summary-chart {
    align-self: center;
}

.save-budget-button {
    color: #db5a42;
    background-color: #fef5e8;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 0.4em;
    align-self: end;
}

.save-budget-button:hover {
    background-color: #f0e7da;

}

.save-budget-button-icon {
    font-size: 1.8em;
}