/*


--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 

- Letter spacing


--- 02 COLORS
primary: #f29f1b
tints :
shades: #fceacc;

tints :
shades:
secondary: #db5a42

gray: #272727
tints :
shades:




--- 05 SHADOWS

EJEMPLO: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 
Medium: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #272727;

    display: flex;
    justify-content: stretch;
  }

  html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    background-color: #f29f1b;


}



.summary-container {
    margin-top: 1.6em;
    background-color: #c5513b;
    padding: 2rem;
    color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    column-gap: 1.2rem;
}

#__next {
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    justify-content: center;
}